*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
img{
  width: 100%;
  height: 100%;
}